html {
  --main-colour: #efc050;
  --main-colour: #35a7ff;
  /* --background-colour: rgba(239, 192, 80, 0.3); */
  --background-colour: #fdf8ec;
  --dark-colour: #eaad1f;
  --light-colour: #f5d68f;
  --text-colour: #444;
  --shadow: 0.3rem 0.3rem 0.5rem #888888;
  --default-width: 80ch;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: blue;
  background-image: url(background.svg);
  height: 100vh;
  overflow-y: auto;
}

.main.container {
  background-color: white;
  text-align: center;
  min-height: 40vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
/* Base Text styles. */
h1 {
  font-size: 2.5rem;
  margin: 0;
}
h2 {
  font-size: 2.5rem;
}
p {
  color: var(--text-colour);
}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--main-colour);
}
a:hover {
  color: var(--dark-colour);
}

/* Base Buttons */
button {
  font-size: 1.2rem;
  border: 2px solid var(--main-colour);
  background-color: transparent;
  color: var(--text-colour);
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
}
button:hover,
button:focus {
  box-shadow: var(--shadow);
  transform: translate(-0.3rem, -0.3rem);
}
button:active {
  transform: translate(0, 0);
  box-shadow: none;
}

form {
  text-align: left;
  border: 2px solid var(--light-colour);
  box-shadow: var(--shadow);
  border-radius: 1.5rem;
  margin: 2rem auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-bottom: 2rem;
  background-color: white;
}

form h2 {
  text-align: center;
}
input {
  width: 90%;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  border: 2px solid var(--light-colour);
  margin: 0.5rem auto;
}
form input:focus {
  border-color: var(--dark-colour);
}

form label {
  margin: 0 2rem;
  color: var(--text-colour);
  font-size: 1.2rem;
  text-align: left;
}
form p {
  margin: 1rem;
}
form textarea {
  width: 90%;
  height: 5rem;
  border: none;
  border: 2px solid var(--light-colour);
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  font-size: 1.2rem;
}

.state.wrapper {
  display: flex;
  align-items: center;
}

.state.wrapper input {
  width: 28% !important;
  margin: 1rem 0;
}
form input:valid,
form textarea:valid {
  border: 2px solid rgba(144, 238, 144, 0.4);
}
.controls {
  width: 100%;
  text-align: center;
}

/* -----  Slider ----- */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 4px; /* Specified height */
  background: var(--light-colour); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.6; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  border-radius: 50%;
  height: 25px; /* Slider handle height */
  background: var(--dark-colour); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

dialog {
  background: none;
  border: none;
}
dialog::backdrop {
  background-color: black;
  opacity: 0.6;
}

@media only screen and (min-width: 1000px) {
  .main.container {
    border: 2px solid var(--main-colour);
    width: 150ch;
    min-height: 60%;
    height: 70%;
    justify-content: center;
    box-shadow: var(--shadow);
    padding: 1rem 5rem 0 5rem;
    margin: 20vh auto;
  }

  .main.container h4 {
    text-align: center;
    font-size: 2rem;
  }
  .main.container h1 {
    font-size: 3.5rem;
  }
  #root {
    justify-content: space-between;
  }
  form {
    width: 80ch;
  }
}
