#schoolSummaryRoot {
  background-color: white;
  border: 2px solid var(--light-colour);
  border-radius: 1.5rem;
  padding: 0 1rem;
  min-width: 80vw;
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  box-shadow: var(--shadow);
}
#schoolSummaryRoot:hover,
#schoolSummaryRoot:focus {
  border-color: var(--main-colour);
  cursor: pointer;
}

#schoolSummaryRoot:active {
  box-shadow: none;
  transform: translate(0.3rem, 0.3rem);
}

.school.summary.content {
  padding-left: 1rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  max-height: 55vh;
}

#schoolSummaryRoot #name {
  text-align: center;
  margin-bottom: 0;
}
.score.details {
  width: max-content;
  font-size: 1.5rem;
  text-align: center;

  /* padding-bottom: 2rem; */
  border-bottom: 2px solid var(--light-colour);
}
.school.details {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score.details p {
  color: var(--main-colour);
  margin: 0.5rem;
}

@media only screen and (min-width: 1000px) {
  #schoolSummaryRoot {
    min-width: initial;
    margin: 0.5rem auto;
    width: 65%;
  }

  .school.summary.content {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .school.details {
    margin-left: 1rem;
  }
  #description {
    border-right: 1px var(--light-colour) solid;
    padding-right: 1rem;
  }
}
