#schoolSummaryRoot {
  margin: 3vh;
  min-width: 90vw;
  padding: 2vh;
  height: 85vh;
  border: 1px solid black;
  box-shadow: 5px 5px 4px #888888;
  cursor: pointer;
  border-radius: 3vh;
  background-color: white;
}
#schoolSummaryRoot:hover {
  box-shadow: 10px 10px 8px #888888;
  border-color: chartreuse !important;
}

#schoolSummaryRoot:active {
  transform: translate(4px, 4px);
  box-shadow: none;
  /* box-shadow: 5px 5px 4px #888888; */
}

#name {
  text-align: center;
}

#description {
  text-align: justify;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
  border-bottom: 2px solid black;
}

#schoolDetails {
  height: 25vh;
}

#schoolDetails h4 {
  text-align: center;
}

.contact.element {
  font-weight: 600;
}

.suggestion.rank0 {
  border: 8px solid lightgreen !important;
}

.suggestion.rank1 {
  border: 5px solid lightgreen !important;
}
.suggestion.rank2 {
  border: 2px solid lightgreen !important;
}

@media only screen and (min-width: 600px) {
  #schoolSummaryRoot {
    height: auto;
    width: 60vw;
  }

  .school.summary.content {
    height: auto;
    display: flex;
  }

  #description {
    text-align: justify;
    margin-bottom: 2vh;
    width: 70vw;
    margin-right: 2vw;
    border: none;
    height: auto;
  }

  #schoolDetails {
    height: auto;
    width: 21vw;
    text-align: right;
  }
}
