#schoolSummaryRoot {
  background-color: white;
  border: 2px solid var(--light-colour);
  border-radius: 1.5rem;
  padding: 0 1rem;
  min-width: 80vw;
  box-shadow: var(--shadow);
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
}
#schoolSummaryRoot:hover,
#schoolSummaryRoot:focus {
  border-color: var(--dark-colour);
  cursor: pointer;
}

#schoolSummaryRoot:active {
  box-shadow: none;
  transform: translate(0.3rem, 0.3rem);
}

.school.summary.content {
  padding-left: 1rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

#description {
  text-align: justify;
}

#schoolSummaryRoot #name {
  text-align: center;
  margin-bottom: 0;
}

#schoolScore {
  color: var(--main-colour);
  font-size: 1.5rem;
  text-align: center;

  padding-bottom: 2rem;
  border-bottom: 2px solid var(--light-colour);
}

@media only screen and (min-width: 1000px) {
  #schoolSummaryRoot {
    min-width: initial;
    margin: 0.5rem auto;
    width: 65%;
  }

  .school.summary.content {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  #schoolScore {
    width: 30%;
  }
  .school.details {
    text-align: right;
  }
  #description {
    text-align: justify;
    border-right: 1px var(--light-colour) solid;
    padding-right: 1rem;
  }
}
