#StartPageContainer {
  background-color: white;
  height: 90vh;
  text-align: center;
  padding: 3vh;
}

#StartPageContainer h1 {
  font-size: 2.5rem;
  margin-top: 10vh;
}

#StartPageContainer h4 {
  text-align: justify;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

@media only screen and (min-width: 600px) {
  #StartPageContainer {
    background-color: white;
    border: 2px solid black;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 25vw;
    padding: 0vh 15vh;
    box-shadow: 10px 10px 8px #888888;
  }

  #StartPageContainer h4 {
    text-align: center;
    font-size: 2rem;
  }
  #StartPageContainer h1 {
    font-size: 3.5rem;
  }
}
