/* form {
  text-align: left;
  border: 2px solid var(--light-colour);
  box-shadow: var(--shadow);
  border-radius: 1.5rem;
  margin: 2rem auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

form h2 {
  text-align: center;
}
form input {
  width: 90%;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  border: 2px solid var(--light-colour);
  margin-bottom: 1rem;
}
form input:focus {
  border-color: var(--dark-colour);
}

form label {
  color: var(--text-colour);
  font-size: 1.2rem;
}
form p {
  margin: 1rem;
}

@media only screen and (min-width: 1000px) {
  form {
    width: 80ch;
  }
} */
