.tags.wrapper {
  overflow: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.tags.footer {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 2px solid var(--light-colour);
}
.tag.button {
  font-size: 1rem;
  padding: 1rem 0rem;
  border: 2px solid #eee;
  color: #444;
}
.selected {
  color: var(--text-colour) !important;
  font-weight: 700;
  border: 2px solid var(--dark-colour) !important;
  box-shadow: var(--shadow);
  margin: calc(0.5rem-2px) !important;
  /* background-color: var(--light-colour); */
}

#sliderOutput {
  min-width: 5ch;
}

#tagContainerPostcode {
  width: 13ch;
  text-align: center;
}
.content.wrapper {
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  .tags.wrapper {
    display: inline-block;
    height: auto;
    width: 100%;
  }
  .tag.button {
    font-size: inherit;
    padding: 1rem 1.5rem !important;
  }
  .settings.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
}
