.card.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 1.5rem;
  margin: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  min-height: 80%;
}

@media only screen and (min-width: 1000px) {
  .card.container {
    max-height: 100%;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding-right: 3rem;
  }
  .card.container div:nth-child(1) {
    margin-top: 2rem !important;
  }
}
