#mainContent {
  margin: 2vh;
  text-align: justify;
}
#mainContent p:not(#about, #reviewContent) {
  overflow: auto;
  max-height: 10vw;
}

@media only screen and (min-width: 600px) {
  #mainContent {
    text-align: justify;
    max-width: 40vw;
    margin-left: 5vw;
    margin-top: 5vh;
  }
}
