#reviewContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  max-height: 80%;
  overflow: auto;
}

.review.element {
  border: 2px solid var(--light-colour);
  box-shadow: var(--shadow);
  padding: 1rem;
  word-wrap: break-word;
  border-radius: 1rem;
}
.review.header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-bottom: 1px solid var(--light-colour);
}
.review.header p {
  font-size: 1rem;
  margin: 0.5rem;
}
